* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

body {
  background-color: hsl(216, 12%, 8%);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  height: 400px;
  width: 400px;
  background-color: var(--Dark-Blue);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  
  
}
.select{
    width: 350px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    margin-left: 17px;
}



.img-star{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    
    
}
